@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300&display=swap');

*{
  margin: 0;
	padding: 0;
	border: 0px;
  border-style:solid;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.ad{
  width:100%;
  height:400px;
  object-fit: cover;
}


nav {   
  height:100px;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color:rgb(255,255,255,0.5);
}

nav > h1{         
  width:160px;
  line-height: 60px;
  font-size: 60px;
  margin-left:20px; /* Add space at the left of the text */
}

nav > img{        
  width: 200px;
}

nav > div{        
  width:180px;
  height:60px;
  
  display: flex;
  justify-content: space-evenly;
}

nav > div > img{  
  height:60px;
}
   

.Group-1{
  margin-top: 100px; /* Nav bar size */
}
 
.Group-1, .Group-2{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
  
.product-card {
  padding:20px;
  margin-bottom:20px;
}
  
.product-card > img{
  width:100%
}
  
.Group-1 > .product-card {
  width:400px;
}
  
.Group-2 > .product-card {
  max-width:400px;
  width:40%;
}


.Group-3 {
  display: flex;
  flex-direction: row;
}

.Group-3 > .product-card {
  max-width:400px;
}

.Group-3 > .fillImage{
  width:0px;
  flex: 1 1 auto;
  object-fit: cover;
  margin:20px 0 20px;
  max-height:511px;
}
 
.Group-4 {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  background-color:#f6f6f6;
}

.Group-4 > img{
  max-width: 400px;
  width:100%;
  order:1;
}

.Group-4  > .product-info{
  order:4;    
}

.Group-4 > .description {
  order:2;
  width: 470px;
  margin: 0 40px 0 40px;
  display: flex;
  align-items:center;
}

.Group-4 > .break {
  order:3;
  flex-basis: 100%;
}
 



footer{
  margin-top:10px;
  height:400px;
  width:auto;
  background-Color:Black;
  color : white;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

footer > img{
  width:200px;
  padding:19px;
} 

footer > h1 {
  font-size:5em;
  line-height: 0px;
}



h1{
  font-family: 'Anton', sans-serif;
  font-style: italic;
  font-weight:400;
}

h5, p{
  font-family: "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
  padding:10px 0 10px 0;
  margin:0 0 0 0;
  font-weight:500;
}

h6{
  font-family: "Helvetica Neue","Roboto","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(117,117,117);
  font-size:16px;
  font-weight:400;
  padding:0 0 10px 0;
  margin:0 0 0 0;
  vertical-align:baseline
}
h7{
  font-family: "Helvetica Neue","Roboto","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
  font-weight:500;
  vertical-align:baseline
}








