@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300&display=swap');

*{
  margin: 0;
	padding: 0;
	border: 0px;
  border-style:solid;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.breakImage{
  width:100%;
  height:400px;
  object-fit: cover;
}


nav {   
  height:100px;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); 
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color:rgb(255,255,255,0.5);
}

nav > h1{         
  width:160px;
  line-height: 60px;
  font-size: 60px;
  margin-left:20px; /* Add space at the left of the text */
}

nav > img{        
  width: 200px;
}

nav > div{        
  width:180px;
  height:60px;
  
  display: flex;
  justify-content: space-evenly;
}

nav > div > img{  
  height:60px;
}
   

.Group-1{
  margin-top: 100px;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap; 
}

.Group-2{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}
  
.product-card {
  padding:20px;
  margin-bottom:20px;
}
  
.product-card > img{
  width:100%
}
  
.Group-1 > .product-card {
  width:400px;
}



.Group-3 {
  display: flex;
  flex-direction: row;
}

.Group-3 > .product-card {
  max-width:400px;
}

.Group-3 > .fillImage{
  width:0px;
  flex: 1 1 auto;
  object-fit: cover;
  margin:20px 0 20px;
  max-height:511px;
}
 
.Group-4 {
  background-color:#f6f6f6;

  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "shoeImage description"
  "productInfo productInfo";
  
  padding-bottom: 20px;
}

.Group-4 > img{
  grid-area: shoeImage;
  justify-self: end;

  min-width:200px;
  max-width:600px;
  width:100%;
}

.Group-4  > .product-info{
  grid-area: productInfo;
  justify-self: center;
}

.Group-4 > .description {
  grid-area: description;
  justify-self: start;

  max-width: 470px;
  margin: 0 20px 0 20px;
  align-self:center;
}

footer{
  height:100vh;
  width:100%;
  background-Color:Black;
  display:flex;
  align-items:center;
  justify-content:center;
}
  
footer > img{
  height:10%;
} 



h1{
  font-family: 'Anton', sans-serif;
  font-style: italic;
  font-weight:400;
}

h5, p{
  font-family: "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
  padding:10px 0 10px 0;
  margin:0 0 0 0;
  font-weight:500;
}

h6{
  font-family: "Helvetica Neue","Roboto","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(117,117,117);
  font-size:16px;
  font-weight:400;
  padding:0 0 10px 0;
  margin:0 0 0 0;
  vertical-align:baseline;
}

h7{
  font-family: "Helvetica Neue","Roboto","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
  font-weight:500;
  vertical-align:baseline
}








